
*{
    margin: 0;
    padding: 0;
    font-family:Impact;
}
body{
    background-image: url(file:///home/hp/Downloads/Convergence%20%F0%9F%8C%95%F0%9F%8C%99%20%20,%20David%20_Danc3r_%20Moyano.jpeg);
    background-size: cover;
}
.bg{
    position: relative;
}
.fg{
    width: 33%;
    position: absolute;
    top: 310px;
    left: 140px;
    object-fit: cover;
    z-index: 1;
    transition: z-index 0.3s ease-in-out;
}
.nn{
    width: 16%;
    position: absolute;
    object-fit: cover;
    top: 290px;
    left: 280px;
    z-index: 2;
}
.bg:hover.fg{
    z-index: 3;
}

.container{
    width: 470px;
    height: 730px;
    background: rgba( 150, 29, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    right: 190px;
    top: 90px;
    position: absolute;
    z-index: 1;
}
.text{
    font-family:Georgia;
    color: antiquewhite;
    font-size: 160px;
    width: 250px;
    position: relative;
    left: 1257px;
    top: 90px;
    opacity: 60%;
}

input[type=text],
input[type=password]{
    padding: 12px 2px;
    width: 80%;
    border: none;
    border-bottom: 2px solid #ffffff;
    color: #f1e1ff;
    background-color:transparent;
    transition: border-color 0.3s ease-in-out;
}
input::placeholder{
  color: #f1e1ff;
}
.un,.ps{
    font-size: 20px;  
}
.underline2{
    position: absolute;
    top: 238px;
    left: 28px;
    width: 80%;
    height: 2px;
    background-color: #db4cff;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.underline {
    position: absolute;
    top: 147px;
    left: 28px;
    width: 80%;
    height: 2px;
    background-color: #db4cff;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.un:focus {
    border-color: #db63ff;
    outline: none;
}
.ps:focus {
    border-color: #db63ff;
    outline: none;
}
  
.un:focus + .underline{
    transform: scaleX(1);
}

.button{
    width: 50%;
    height: 40px;
    background-color: #fcc1fc;
    border-radius: 20px;
    border-color: #f0b3ff;
    box-shadow: 0 8px 32px 0 rgba(233, 143, 255, 0.37);
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    color: rgb(41, 20, 68);
    font-size: 25px;
    position: relative;
    top: 190px;
    left: 110px;

}
.un{
    position: relative;
    top: 100px;
    left: 25px;

}
.ps{
    position: relative;
    top: 150px;
    left: 25px;

}
.go{
    width: 50px;
    height: 50px;
    position: relative;
    top: 270px;
    left: 70px;
}
.fb{
    width: 50px;
    height: 50px;
    top: 270px;
    position: relative;
    left: 250px;
}
.ac{
    font-size: 22px;
    color: antiquewhite;
    position: relative;
    z-index: 1;
    top: 270px;
    left: 35px;
}





























